langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-mistralai

openai
google-genai
mistralai

chromadb

python-dotenv
pypdf
tiktoken

fastapi
uvicorn

flask
requests
httpx